//
// Graph portal module loader
//

@import '../../node_modules/office-ui-fabric-react/dist/sass/Fabric.scss';
@import '../../node_modules/office-ui-fabric-js/dist/sass/Fabric.Components.scss';
@import "layouts/layouts.scss";
@import "pages/pages.scss";
